body {
  display: flex;
  justify-content: center;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.primary-btn {
  font-size: 1.25rem;
  border: 0;
  background: transparent;
  color: rgba(255,0,0,0.6);
  &:hover {
    color: rgba(255,0,0,0.9);
  }
}