body {
  display: flex;
  justify-content: center;
}

button {
  padding: 0;
  margin: 0;
}

.game {
  margin-top: 100px;
  position: relative;
}

.game-over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.congrats-block {
  padding: 10px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
}

.congrats-title {
  font-size: 36px;
  color: green;
  margin-bottom: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-btn {
  flex-grow: 1;
  height: 100%;
}
